---
import { Image } from "astro:assets";
import logoImage from '../assets/images/logo.jpg';
---
<header> 
  <Image src={logoImage} alt="Logo showcasing house, car, and pressure wash gun" width="300" height="300" />
  <h1>Supreme Detailing and Pressure Washing</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
    <a href="services/">Services</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    padding: 10px 20px; 
    box-sizing: border-box;
    width: 100%;

    nav {
      margin-top: -15px;
      display: flex;
      gap: 15px;
    }

    nav a{
      color: inherit;
    }
  }
</style>
