---
import placeHolderBackground from '../assets/images/placeHolder background.jpg';

---
<section id="hero">
  <div class="hero-heading">
    <h2>Detailing Business Name</h2>
    <p>Some kind of tagline</b>:
  </div>
  <div class="cta">
    <button disabled>Book an Appoitment with us(Coming Soon)</button>
  </div>
</section>


<style>
  #hero {
    background: url('../assets/images/placeholderBackground.jpg'); 
    background-size: cover;
    height: 50vh;
    width: 100%;
    padding: 25px;
  }

  .hero-heading {
    background-color: white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
  }
</style>
